.breadcrumbs {
  align-items: center;

  &__back {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: rgba(1, 71, 81, 0.08);

    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;

    &:after {
      content: url("../../assets/arrow.svg");
      position: absolute;
      top: 9px;
      left: 11px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(3, 80, 99, 0.7);
  }
}
